<% foodData.forEach(value => { %>
<form action="/searches" method="POST">
  <input type=hidden name="foods" value="<%=value.name%>" />
  <h2><%= value.name %></h2>
  <h3><%= value.price %></h3>
  <h4><%= value.rating %></h4>
  <img src="<%= value.url %>" alt="<%= value.name %>" />
  <button class="submitButton" type="submit">Add to
    Favorites</button>
</form>
<% }) %>